.mode_1 {
  --white: #FFFFFF;
  --var-950: #30227A;
  --var-900: #342294;
  --var-800: #472EA3;
  --var-700: #5434AB;
  --var-600: #613BB4;
  --var-500: #6A41BB;
  --var-400: #825BC6;
  --var-300: #9879D1;
  --var-200: #C5A3FF;
  --var-100: #D0B9FB;
  --var-50: #EEE8F7;
  --black: #000000;
  --var-950: #1B1724;
  --var-900: #1E192C;
  --var-800: #292337;
  --var-700: #342D43;
  --var-600: #3F384F;
  --var-500: #4A445B;
  --var-400: #564F66;
  --var-300: #625B73;
  --var-200: #7B748C;
  --var-100: #988DA6;
  --var-50: #B2A7C2;
  --var-950: #161616;
  --var-900: #1E1E1E;
  --var-800: #262626;
  --var-700: #404040;
  --var-600: #525252;
  --var-500: #737373;
  --var-400: #A3A3A3;
  --var-300: #D4D4D4;
  --var-200: #EDEDED;
  --var-100: #F5F5F5;
  --var-50: #FAFAFA;
  --var-950: #672043;
  --var-900: #74284E;
  --var-800: #9A2F5A;
  --var-700: #B03260;
  --var-600: #C63666;
  --var-500: #D7396A;
  --var-400: #DB4F7F;
  --var-300: #E16A95;
  --var-200: #E993B3;
  --var-100: #F1BDD1;
  --var-50: #F9E5EC;
  --var-950: #94361E;
  --var-900: #A84127;
  --var-800: #B94830;
  --var-700: #C64E36;
  --var-600: #D8573C;
  --var-500: #E5603D;
  --var-400: #E36955;
  --var-300: #DB8177;
  --var-200: #E8A39C;
  --var-100: #FAC9C9;
  --var-50: #FAD6D8;
  --var-20: #F8E6E7;
  --var-950: #00211E;
  --var-900: #002C29;
  --var-800: #003835;
  --var-700: #004441;
  --var-600: #00524E;
  --var-500: #006059;
  --var-400: #006C67;
  --var-300: #008680;
  --var-200: #08A09A;
  --var-100: #3DBCB5;
  --var-50: #5FD8D1;
  --var-950: #3A6B07;
  --var-900: #3B6C07;
  --var-800: #608E17;
  --var-700: #73A11C;
  --var-600: #89B527;
  --var-500: #99C52D;
  --var-400: #AACE54;
  --var-300: #B9D775;
  --var-200: #CDE39E;
  --var-100: #E1EDC5;
  --var-50: #E7EFD5;
}
